// Use Compass ('cause it rocks!)
@import "compass";

// Bower Imports
@import "../bower/bourbon/dist/bourbon";
@import "../bower/neat/app/assets/stylesheets/neat";


// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: proxima-nova;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Heading Font
$heading-font-family: proxima-nova;
$heading-font-weight: $regular;
$heading-font-size: 13px;
$heading-line-height: 1.4;


// Fancy Font
$fancy-font-family: clavo;
$fancy-font-weight: $regular;
$fancy-font-size: 13px;
$fancy-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;



#page {
    background-color: white;
}

body {
    font-family: $base-font-family;
}

@import "modules/all";
